* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* 
button.dropdown-toggle::after {
  content: none;
} */

.bg-gray {
  background-color: #333333 !important;
}

.bg-black {
  background-color: #000 !important;
}

.disable {
  display: none;
}

.bg-gray-light {
  background-color: #cdcdcd !important;
}

.bg-gray-alpha {
  background-color: #333333ca !important;
}

.width-80 {
  width: 80px;
}

.gap-10 {
  gap: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.z-index-2{
  z-index: 2;
}

.logo {
  background: url("./assets/images/logo.png") no-repeat center center;
  background-size: cover;
  height: 300px;
}

.icon-social-media {
  width: 35px;
  height: 35px;
}

.social-medias-language {
  bottom: 120px;
  right: 60px;
}

.social-medias-language-mobile{
  padding: 5px 20px;
}

.language {
  width: 60px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  z-index: 1;
  top: 0;
  height: 29px;
  padding: 2px;
  font-size: 20px;
  cursor: pointer;
  background-color: #333333;
  border-radius: 50%;
}

.arrow-left {
  left: 150px;
  right: auto;
}

.arrow-right {
  right: 150px;
  left: auto;
  text-align: right;
}

.arrow-left img,
.arrow-right img {
  margin-top: -10px;
}

.carousel-caption {
  right: 10% !important;
  left: 10% !important;
  bottom: 0 !important;
  padding-bottom: 0 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.border-bottom-container {
  border-bottom: 7px solid #666666;
}

.container-carousel {
  max-width: 1000px;
  padding: 15px 15px 0;
}

.gallery-wrapper {
  overflow-x: auto;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 15px;
}

.item {
  width: 250px;
  flex-shrink: 0;
  transition: all 300ms ease-in-out;
  opacity: 0.2;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card {
  width: 350px;
  background: url("./assets/images/bg-card.png") no-repeat;
}

.color-yellow-hover a:hover{
  color: #e7b223 !important;
}

.color-yellow-hover-dropdown a:hover{
  color: #e7b223 !important;
  background-color: #333333 !important;
}

@media (min-width: 1100px) {
  .navbar-mobile{
    display: none !important;
  }
}

@media (max-width: 1100px) {
  .header {
    display: grid !important;
    grid-template:
      "menu-mobile"
      "logo";
  }

  .navbar-mobile{
    grid-area: menu;
    background: transparent !important;
    margin: 20px 20px 0 0;
  }

  .navbar-toggler{
    background-color: #fff !important; 
  }

  .container-fluid{
    justify-content: flex-end !important;
  }

  .logo{
    grid-area: logo;;
  }

  .navbar-desktop{
    display: none !important;
  }

  .logo-menu {
    background: url("./assets/images/logo.png") center center no-repeat;
    background-size: 240%;
    height: 150px;
    width: 100%;
    margin-top: -30px;
  }
  .color-yellow-hover-dropdown a:hover{
    color: #e7b223 !important;
    background-color: #fff !important;
  }
}
