*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
.bg-gray{
  background-color: #333333 !important;
}

.bg-gray-alpha{
  background-color: #333333ca !important;
}

.max-width-1200{
  max-width: 1200px;
}

.header {
  background-image: url("./assets/images/2022-1811-rdv-franca-web.jpg");
}

.logo{
  background: url("./assets/images/logo.png") no-repeat center center;
  height: 200px;
  width: 100%;
}

.navbar{
  height: 30px;
}

.position-relative{
  position: relative;
  z-index: 2;
}

.gap-10{
  gap: 10px;
}

.margin-top-10{
  margin-top: 10px;
}

.color-yellow-hover a:hover{
  color: #ffbd1a !important;
}

.btn-yellow-hover li a:hover{
  color: #ffbd1a !important;
  background: #333333;
}

.carousel-caption{
  right: 10% !important;
  left: 10% !important;
  bottom: 0 !important;
  padding-bottom: 0 !important;
}

.carousel-control-prev,
.carousel-control-next{
  align-items: flex-end;
}

.carousel-control-prev-icon,
.carousel-control-next-icon{
  width: 1.5rem;
  height: 1.5rem;
}

.border-bottom-container{
  border-bottom: 5px solid #666666;
}


@media (max-width: 991px) {
  .navbar{
    height: 50px;
}
}