* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
.bg-gray {
  background-color: #333333 !important;
}

.bg-black {
  background-color: #000 !important;
}

.disable {
  display: none;
}

.bg-gray-light {
  background-color: #cdcdcd !important;
}

.bg-gray-alpha {
  background-color: #333333ca !important;
}

.logo {
  background: url("./assets/images/logo.png") no-repeat center center;
  background-size: cover;
  height: 300px;
}

.icon-social-media {
  width: 35px;
  height: 35px;
}

.social-medias-language {
  bottom: 100px;
  right: 60px;
}

.navbar {
  height: 30px;
  margin-top: -60px;
}

.navbar-toggler {
  margin: 0px 20px 0 0;
  right: 0;
}

.gap-10 {
  gap: 10px;
}

.z-index-1 {
  z-index: 1;
}

.z-index--1 {
  z-index: -1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.margin-top-10 {
  margin-top: 10px;
}

.color-yellow-hover a:hover {
  color: #ffbd1a !important;
}

.btn-yellow-hover li a:hover {
  color: #ffbd1a !important;
  background: #333333;
}

.carousel-caption {
  right: 10% !important;
  left: 10% !important;
  bottom: 0 !important;
  padding-bottom: 0 !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.border-bottom-container {
  border-bottom: 7px solid #666666;
}

.card {
  width: 350px;
}

.width-80 {
  width: 80px;
}

#carouselCard {
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .logo-menu {
    display: inline-block;
    background: url("./assets/images/logo.png") center center no-repeat
      content-box;
    background-size: 240%;
    height: 150px;

    border-bottom: 1px solid black;
  }

  .social-medias-language {
    position: static !important;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px 20px 0 0;
  }

  .social-medias-language .icon-social-media {
    border: 1px solid #fff;
  }

  .navbar-toggle,
  .nav-item {
    background-color: white !important;
  }

  .navbar-nav {
    background-color: #fff;
  }

  .navbar {
    width: 100%;
    background: transparent !important;
  }

  .container-fluid {
    width: 80% !important;
    margin: 0 0 0 0 !important;
  }

  .nav-link,
  .dropdown-item {
    color: #000 !important;
  }

  .dropdown-menu {
    border: 0;
    background-color: #fff !important;
  }

  .dropdown-item:hover {
    color: #ffbd1a !important;
    background: #fff !important;
  }
}
