.fa-bars, .fa-times{
  font-size: 2rem !important;
  color: white !important;
  cursor: pointer;
  transition: 0.3s;
}

.offcanvas-backdrop.fade{
  display: none;
}

.navbar-mobile{
  margin-top: -70px;
}