.modal {
    max-width: 400px;
  }
  .modal-content {
    max-width: 400px;
  }
  .list-group-item:hover {
    background-color: rgba(59, 57, 57, 0.164) !important;
  }

  .modal-header{
    padding: 0;
  }

  .btn-close{
    padding: 70px 60px 0 0 !important;
  }

  .navbar-desktop{
    height: 30px;
  }